* {
  box-sizing: border-box;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: hsl(216, 50%, 16%);
  margin: 2rem 1.2rem 0 1.2rem;
  border-radius: 20px;
  padding: 2rem 2rem 0.8rem;
  box-shadow: 1px 20px 5px 20px hsl(216, 53%, 10%);
}

h1{
  font-size: 1.6rem;
}

h1,
span {
  color: hsl(0, 0%, 100%);
}

h1:hover, span:hover{
  color: hsl(178, 100%, 50%)
}

p {
  color: hsl(216, 25%, 62%);
  font-size: 1rem;
}
.content img {
  width: 100%;
  border-radius: 7px;
}

.creation {
  border-top: 1px solid hsl(215, 32%, 27%);
  display: flex;
  gap: 20px;
  padding-top: 1rem;
}

.creation img {
  width: auto;
  height: 3rem;
  border: solid 1px hsl(0, 0%, 100%);
  border-radius: 50%;
}

.icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.icons img {
  width: auto;
}

.icons p {
  display: inline;
}

.icons .price {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

footer {
  position: absolute;
  bottom: 0;
  color: white;
}

.attribution {
  font-size: 12px;
  text-align: center;
}

.attribution a {
  color: hsl(175, 77%, 45%);
}

.svg-content{
  position: relative;
  
}

svg{
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 43%;
  opacity: 0;
  transition: opacity 1s ease;
}

svg:hover{
  opacity: 1;
  
}

@media (min-width: 376px) {
  .content {
    width: 30%;
    padding: 2rem;
    margin-top: 5rem;
  } 

  p {
    font-size: 1.125rem;
  }
  .attribution {
    font-size: 1.125rem;
  }
}